# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next
out
.vercel

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
logs
*.log

# Cache
.cache
.turbo

# Build
coverage

# Local assets not for git
# public/mushaf/   <-- suivi activé pour déploiement
public/fonts/
